{% extends "main.html" %}
{% block content %}

<header id="main-header">
    <p id="main-header-text">My Choice!</p>
</header>

<div id="login-page-div">
    <h2>Welcome</h2>
    <input id="username" type="text" placeholder="Enter your ldap alias here (without DIR)" onfocus="this.placeholder = ''">
    <input id="password" type="password" placeholder="Enter your ldap password here" onfocus="this.placeholder = ''">
    <button class="standard-button blue-button" onclick="login()">Go &nbsp >>></button>
</div>

<script>

    // If mobile device
    if (window.innerWidth < 400) {
        document.getElementById("login-page-div").style.marginTop = "50px";
        document.getElementById("username").style.width = "250px";
        document.getElementById("password").style.width = "250px";
    }

    function login() {

        var username =  document.getElementById("username").value;
        var password =  document.getElementById("password").value;

        if (!username || username === "" || !password || password === "") {
            window.alert("Please enter your ldap alias and password.");
            return;
        }

        var loginEndPoint = "http://localhost:5000/v1/login";

        loginObject = {};
        loginObject["username"] = username;
        loginObject["password"] = password;
        loginObject["state"] = "{{STATE}}";

        var requestTimeOut = setTimeout(function(){
            window.alert("Failed to contact the API!");
        }, 20000);

        // Making AJAX request to login endpoint
        // Assign handlers immediately after making the request,
        // and remember the jqxhr object for this request
        var jqxhr = $.post( loginEndPoint, JSON.stringify(loginObject) )
                    .done(function(loginResponseJSON) {
                        clearTimeout(requestTimeOut);
                        if (loginResponseJSON.status === "success") {
                            window.location.href =  "/v1/indexPage";
                        }
                        else {
                            window.alert("Login failed!" );
                        }
                    })
                    .fail(function() {
                        clearTimeout(requestTimeOut);
                        window.alert( "Failed to contact the API!");
                    });
    }
</script>

<script src="{{ url_for('static', filename='knockout-3.2.0.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>

{% endblock %}

